@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.rotado {
  transform: rotate(-180deg);
}
.card {
  border-radius: 20px;
  height: 400px;
  width: 250px;
}
.card-header {
  font-size: 40px;
}
.card-body {
  align-self: center;
  font-size: 150px;
}
